<div class="container-fluid">
  <h1>Crear votación</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Pregunta</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.pregunta %></td>
          
          <td><%= link_to 'Ver', question, class: 'btn btn-primary text-white' %></td>
          <td><%= link_to 'Editar', edit_question_path(question), class: 'btn btn-success text-white' %></td>
          <td><%= link_to 'Eliminar', question, class: 'btn btn-danger text-white', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Question', new_question_path %>
</div>
