<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta:</strong>
  <%= @question.pregunta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @question.estado %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
