
<div class="container text-center text-white" id="redondear"> 
  <h2 class="text-white py-2"><b>Registrarse</b></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'col-sm-12 form ') do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :name, autofocus: true%>
    </div>

    <div class="field">
      <%= f.label :Email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :Comuna %> <br/>
      <%= f.select :district_id , District.pluck(:name, :id) %>
    </div>
    

    <div class="field">
      <%= f.label :Contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimos)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :Confirmar_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse", class: 'btn btn-success' %>
    </div>
  <% end %>

  
</div>
