<p id="notice"><%= notice %></p>

<h1>Distritos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= district.id%></td>
        <td><%= link_to 'Ver', district_path(district), class: 'btn btn-warning text-white' %></td>
        <td><%= link_to 'Editar', edit_district_path(district), class: 'btn btn-success text-white' %></td>
        <td><%= link_to 'Eliminar',district, class: 'btn btn-danger text-white',  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar distrito', new_district_path %>
