<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @district.name %>
</p>
<p>
  <strong>Distrito:</strong>
  <%= @district.distrito %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
