
<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => current_user.id %>


  <div class="field">
    <%= form.label :Pregunta %>
    <%= form.select :question_id, Question.pluck(:pregunta, :id) %>
  </div>


  
  
    <div class="field">
      <%= form.label :Estoy_a_favor  %>
      <%= form.check_box :estado %>
    </div>

    <div class="field">
      <%= form.label :Estoy_en_contra %>
      <%= form.check_box :false %>
    </div>
    


  <div class="actions">
    <%= form.submit "Votar" %>
  </div>
<% end %>
